.navbar{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li{
    display: inline-block;
    margin: 0 12px;
    padding: 10px 10px;
    border: 2px solid var(--border-color);
    border-radius: 30px;
    color: var(--text-color);
    transition: .6s;

}

.navbar ul li:hover{
    transform: scale(1.02);
}

.navbar ul li a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
    gap: 8px;
}

.navBtns{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-color);
}

#nav_ThemeBtn{
    display: none;
    color: var(--text-color);
}

@media screen and (max-width:1400px) {
    .navbar ul li a span{
        display: none;
       
    }
     
}

@media screen and (max-width:1400px) {
    .navBtns{
        display: none;
    }
    
    .navbar{
        justify-content: center;
        position: fixed;
        top: 80%;
        left: 38%;
        width: fit-content;
        background-color: #d8aef168;
        border-radius: 30px;
        padding: 0 10px;
        backdrop-filter: blur(8px);
        border: 0.1px solid var(--border-color);
        
    }
   
    #nav_ThemeBtn{
        display: inline-block;
    }
    
}

@media screen and (max-width:768px) {
    .navbar{
        left: 20%;
       
    }
    
}

@media screen and (max-width:900px) {
    .navbar ul li {
        padding: 10px 12px;
    } 
    .navbar{
        left: 22%;
        height: 10%;
    }
}

@media screen and (max-width:545px) {
    .navbar ul li {
        margin: 0px 5px;
    } 
    .navbar{
        left: 10%;
        height: 10%;
    }
}
@media screen and (max-width:375px) {
    .navbar{
        left: 6%;
        width: 90%;
    }
    .navbar ul li {
        margin: 2px 2px;
        width: 15%;
        height: 15%;
    } 
    
    }