.HeaderWrapper {
    min-height: 60vh;
    display: flex; /* Ensure proper layout with flexbox */
    flex-direction: column; /* Arrange items vertically */
    justify-content: flex-end; /* Align content to the end */
    gap: 50px;
}

.HeaderWrapper h1 {
    font-size: 80px;
    line-height: 85px;
    font-weight: 700;
    background: var(--gradient-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.HeaderWrapper .header_btns {
    display: flex;
    gap: 20px;
    
}

.HeaderWrapper .header_btns button {
    background: transparent;
    border: 0.5px solid var(--border-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px; /* Ensure buttons have a consistent height */
    gap: 8px;
    font-size: 16px; /* Set a base font size */
    padding: 10px; /* Add padding for better touch area */
    border-radius: 30px;
    /* Rounded corners for buttons */
    transition: .6s;
    /* Smooth transition for hover effects */
}

.HeaderWrapper .header_btns button:nth-of-type(2) {
    width: 180px;
}

.HeaderWrapper .header_btns button:hover {
    
    filter: blur(.5px);
    transform: scale(1.02);
    /* Adjust text color on hover */
}

/* Media Queries */
@media screen and (max-width: 1300px) {
    .HeaderWrapper h1 {
        font-size: 65px;
        line-height: 70px;
    }
}

@media screen and (max-width: 1100px) {
    .HeaderWrapper {
        justify-content: center; /* Center content for medium screens */
        text-align: center; /* Center text for medium screens */
    }

    .HeaderWrapper .header_btns {
        justify-content: center; /* Center buttons horizontally */
    }
}

@media screen and (max-width: 768px) {
    .HeaderWrapper h1 {
        font-size: 45px;
        line-height: 55px;
    }

    .HeaderWrapper .header_btns button {
        width: 130px; /* Adjust button width for smaller screens */
    }
}

@media screen and (max-width: 545px) {
    .HeaderWrapper h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .HeaderWrapper .header_btns {
        flex-direction: column; /* Stack buttons vertically on very small screens */
    }

    .HeaderWrapper .header_btns button {
        width: 100%; /* Full-width buttons for very small screens */
    }
}
